/* General styles */
body {
    font-family: 'Roboto', sans-serif;
    background-color: #e9ecef;
    margin: 0;
    padding: 0;
    color: #333;
}

/* Container for the content */
.main-content {
    text-align: center;
    margin-top: 100px;
}

h1 {
    font-size: 3em;
    color: #333;
    text-align: center;
    margin-top: 50px;
    padding-bottom: 10px;
    border-bottom: 2px solid #007bff;
}

h2 {
    font-size: 2em;
    color: #007bff;
    margin-bottom: 50px;
}

/* Styling the buttons */
/* Button container styles */
.button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px; /* Space between buttons */
    margin-top: 20px;
}

.btn {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.2em;
    width: 200px; /* Adjust button width */
    text-align: center;
}

.btn:hover {
    background-color: #0056b3;
}

.set-button {
    text-decoration: none;
    padding: 20px 60px;
    background-color: #007bff;
    color: white;
    border-radius: 10px;
    font-size: 1.8em;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
}

.set-button:hover {
    background-color: #0056b3;
    box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.2);
    transform: translateY(-5px);
}

/* Footer styles */
footer {
    text-align: center;
    padding: 20px;
    background-color: #333;
    color: white;
    position: fixed;
    width: 100%;
    bottom: 0;
}

/* Navbar styles */
nav {
    background-color: #333;
    padding: 15px 20px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav ul li {
    float: left;
}

nav ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
    font-size: 1.2em;
}

nav ul li a:hover {
    background-color: #0056b3;
}

nav ul li a.active {
    background-color: #4CAF50;
    font-weight: bold;
}
